{% extends "import.html" %} 
{% block content %}

<center>
<br><h2>Brain Tumor Classification Using SVM</h2><br>

    <form id="input-form">
        <label for="sepal-length">Sepal Length:</label>
        <input type="text" name="sepal-length" id="sepal-length-input"><br><br>

        <label for="sepal-width">Sepal Width:</label>
        <input type="text" name="sepal-width" id="sepal-width-input"><br><br>

        <label for="petal-length">Petal Length:</label>
        <input type="text" name="petal-length" id="petal-length-input"><br><br>

        <label for="petal-width">Petal Width:</label>
        <input type="text" name="petal-width" id="petal-width-input"><br><br>
    </form>

    <div class="image-section" style="display:none;">
         <div>
            <button type="button" class="btn btn-info btn-lg " id="btn-predict">Phân Tích</button>
         </div>
    </div>



    <div class="loader" style="display:none;"></div>

    <h3 id="result">
        <span> </span>
    </h3>


</center><br><br>
{% endblock %}